header {
    background-color: red;
}

h1 {
    color: white
}

nav {
    background-color: black;
}

nav a {
    color: white;
}

.main {
    background-color: gray
}

footer {
    background-color: black;
}

p {
    color: white
}

body {
    background-color:black;
}